/* Mobile first approach */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400&display=swap');

/* Default styles */
header{

    font-weight: 400;
    text-align: center;

}

header h1 {
    font-size: 8vw;
}
header h2 {
    font-size: 5vw;
}
header h3 {
    font-size: 3.5vw;
}

nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

body {
    background-image: url("light_mode.png");
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Red Hat Mono', monospace;
    font-size: 2.5vw;
    color: #3E3E3E;
    margin: 0;

}

nav li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.8vw;
}

nav a {
    color: #000000;
    text-decoration: none;
}

#mode{
    height: 2.5%;
    width: 2.5%;
}

@media screen and (max-width: 860px) {
    #mode {
        height: 3.5%;
        width: 3.5%;
    }

}



@media only screen and (max-width: 600px) {
    #mode {
        height: 4.2%;
        width: 4.2%;
    }


    header {
        max-width: 100%;
    }

    nav li {
        font-size: 3vw;
    }

    #about_first p{
        font-size: 3.5vw;
    }

    #about_first h2 {
        font-size: 6vw;
        text-align: center;
    }

    header h1 {
        font-size: 11vw;
    }
    header h2 {
        font-size: 10vw;
    }
    header h3 {
        font-size: 8vw;
    }



}

.container{
    display: inline-block;
}

.typed-out{
    overflow: hidden;
    border-right: .10em solid #2c2c2c;
    white-space: nowrap;
    animation:
            typing 2s steps(20, end) forwards,
            blink .8s infinite;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #2c2c2c; }
}

#about_first {
    max-width: 100%;
    padding: 30px;
    background-color: rgba(106, 153, 166, 0.8);
}

.dark-mode-body {
    background-image: url("dark_mode.png");
    color: #EAEAEA;
}

#inside_about_second {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about_second {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.50);

}

#about_second p {
    font-size: 3.5vw;
}
