/* Mobile first approach */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');


body {
    background-image: url("light_mode_.png");
    background-size: cover;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5vw;
    color: #3E3E3E;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

/* HEADER */

header{

    font-weight: 400;
    text-align: center;
    margin: 10px 10px 60px 10px;

}

header h1 {
    font-size: 7.2vw;

}
header h2 {
    font-size: 4.5vw;
}
header h3 {
    font-size: 3.5vw;
}

.fade-transition {
    transition: opacity 0.3s ease;
    opacity: 0;
}


h3 {
    font-size: 2.3vw;
}

h2 {
    text-align: center;
}

p {
    font-size: 1.4vw;
    font-weight: 300;
}

nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}



nav li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.8vw;


}

nav a {
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav a:hover {
    font-size: 2vw;
}



#mode{
    width: 100%;
    transition: all 0.5s ease;
}

#mode:hover{
    width: 120%;
    cursor: pointer;
}


.container{
    display: inline-block;
}

.typed-out{
    overflow: hidden;
    border-right: .10em solid #2c2c2c;
    white-space: nowrap;
    animation:
            typing 2.6s steps(20, end) forwards,
            blink .8s infinite;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #2c2c2c; }
}




/* ABOUT */


#about_first {
    max-width: 100%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 50px;

}

#about{
    margin: 50px;

}

#about_second {
    display: flex;
    align-items: center;


}

#inside_about_second {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.5vw;
}

#inside_about_second  img{
    height: 70%;
    width: 35%;
}


/* SKILLS */


#skills{
    margin: 20px;
    text-align: center;
    padding-bottom: 5vw;
}

#skills_container{
    display: flex;
}

#skills_1{
    width: 33%;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(157, 194, 163, 0.73);
}

#skills_2{
    width: 33%;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(144, 173, 239, 0.75);
}

#skills_3{
    width: 33%;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(201, 158, 158, 0.87);
}

#skills p {
    font-size: 1.5vw;
}

.float {
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}


@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}


/* PROJECTS */


#projects {
    text-align: center;
    padding-top: 20px;
}


.projects_list
{
    margin:50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);




}

.projects_list h2 {
    font-size: 1.9vw;
}

.projects_list img {
    height: 25%;
    width: 25%;
}

.tile {
    text-align: center;
    margin-bottom: 10px;
}

.tile_images {
    display: flex;
    justify-content: space-evenly;
}



#gallery .text{
    padding: 10px;
    text-align: left;

}



#gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 75vw);
    grid-column-gap: 2rem;
    overflow: scroll;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
    list-style-type: none;

}

.active {
    scroll-snap-type: unset;
}

.projects {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 55vw;


}

li > h2 {
    font-size: 2.5vw;
}

#text h2 {
    font-size: 2.5vw;
}

#gallery p {
    font-size: 1.2vw;
}

.tile_images_{
    display: flex;
    justify-content: space-evenly;
}


/* PROJECTS GALLERY Desktop version */


.gallery_tile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery_tile > div {

    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;

}

.gallery_tile img {
    width: 40%;
}


.github {
    width: 10% !important;
    transition: all 0.5s ease;
}

.github:hover {
    width: 12% !important;
    cursor: pointer;
}

.text p {
    padding-right: 10px;

}


.projects_list{
    display: block;
    width: 100%;
}

#projects_big {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

h4 {
    font-size: 1.9vw;
}


/* CONTACT */

.button{
    padding: 12px 18px;
    border: 17px solid #ffffff;
    border-radius: 20px;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: border-color 0.5s ease;
}

.button:hover{
    border-color: #679bf5;
}


#emoji{
    height: 350px;
}

/* FOOTER */

.footer {
    background-color: rgba(255, 255, 255, 0.55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.footer-links{
    padding-left: 10px;
}


.footer a {
    color: #333;
    font-size: 1.5vw;
    text-decoration: none;
    margin-right: 10px;
}

.footer img {
    width: 75%;
    height: auto;
    padding-right: 5px;
    transition: all 0.5s ease;
}

.footer img:hover{
    width: 90%;
    cursor: pointer;
}

.footer p {
    font-size: 1.5vw;
}

/* MEDIA */

@media screen and (max-width: 1100px) {
    #emoji{
        height: 250px;
    }

    .button {
        border: 10px solid #ffffff;
    }

    .footer img {
        width: 40%;
        height: auto;
    }

    .footer img:hover{
        width: 45%;
    }

    #mode {
        width: 80%;
    }
    #mode:hover {
        width: 90%;
    }


}


@media screen and (max-width: 900px) {


    body{
        background-size: auto;
    }






}



@media only screen and (min-width: 800px) {
    #projects_big {
        display: none;
    }

}


@media only screen and (max-width: 800px) {

    #gallery{
        display: none;
    }

    body{
        font-family: 'Quicksand', sans-serif;
    }

    /* FOOTER */

    .footer p{
        font-size: 2vw;
    }

    .footer a{
        font-size: 2vw;
    }

    .footer img {
        width: 25%;
        height: auto;
    }

    .footer img:hover{
        width: 30%;
    }



    /* ABOUT */

    #about{
        margin: 0;

    }

    #about_first{
        padding: 20px;
        border-radius: 0;
    }

    #about_first p{
        font-size: 3.2vw;

    }

    #about_second{
        display: block;
    }

    #inside_about_second{
        width: auto;
    }




     /* PROJECTS */

   .projects_list h2{
       font-size: 4vw;
   }

   .tile{
       padding: 10px 10px 80px 10px;

   }


    /* HEADER */


    header h1 {
        font-size: 10vw;
    }
    header h2 {
        font-size: 9vw;
    }
    header h3 {
        font-size: 7.5vw;
    }

    /* SKILLS */

    #skills_container{
        display: block;
    }

    #skills_1 {
        margin: 0 0 20px 0;
        padding: 15px;
        width:100%;
    }

    #skills_2 {
        margin: 0 0 20px 0;
        padding: 15px;
        width:100%;
    }

    #skills_3 {
        margin: 0 0 20px 0;
        padding: 15px;
        width:100%;
    }

    #skills p {
        font-size: 3.2vw;
    }


    /* */

    #emoji{
        height: 150px;
    }

    #mode {
        width: 70%;
    }
    #mode:hover {
        width: 75%;
    }


    nav li {
        font-size: 3.5vw;
    }


    p {
        font-size: 3.2vw;
    }

    h2 {
        font-size: 6.2vw;
    }


     h3 {
        font-size: 4.2vw;
    }





}


@media only screen and (max-width: 500px) {
    #mode {
        width: 45%;
    }
    #mode:hover {
        width: 55%;
    }

}


.dark-mode-body {
    background-image: url("dark_mode.png");
    color: #EAEAEA;
}
